
Aromatics/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Aromatics/obj/Debug/Aromatics.csprojAssemblyReference.cache
Aromatics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Aromatics/obj/Release/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Aromatics/obj/Release/Aromatics.csprojAssemblyReference.cache
CustomTiles/.vs/CustomTiles/FileContentIndex/853af6bf-3bfc-407b-929a-c727c32010c7.vsidx
CustomTiles/.vs/CustomTiles/FileContentIndex/read.lock
CustomTiles/.vs/CustomTiles/v15/.suo
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/db.lock
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/storage.ide
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/storage.ide-shm
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/storage.ide-wal
CustomTiles/.vs/CustomTiles/v17/.suo
CustomTiles/bin/Debug/0Harmony.dll
CustomTiles/bin/Debug/Assembly-CSharp-firstpass.dll
CustomTiles/bin/Debug/Assembly-CSharp.dll
CustomTiles/bin/Debug/CustomTiles.dll
CustomTiles/bin/Debug/CustomTiles.pdb
CustomTiles/bin/Debug/FMODUnity.dll
CustomTiles/bin/Debug/Unity.TextMeshPro.dll
CustomTiles/bin/Debug/UnityEngine.CoreModule.dll
CustomTiles/bin/Debug/UnityEngine.dll
CustomTiles/bin/Debug/UnityEngine.ImageConversionModule.dll
CustomTiles/bin/Debug/UnityEngine.InputLegacyModule.dll
CustomTiles/bin/Debug/UnityEngine.TextRenderingModule.dll
CustomTiles/bin/Debug/UnityEngine.UI.dll
CustomTiles/bin/Debug/UnityEngine.UIModule.dll
CustomTiles/bin/Debug/UnityEngine.UnityWebRequestModule.dll
CustomTiles/bin/Release/0Harmony.dll
CustomTiles/bin/Release/Assembly-CSharp-firstpass.dll
CustomTiles/bin/Release/Assembly-CSharp.dll
CustomTiles/bin/Release/CustomTiles.dll
CustomTiles/bin/Release/CustomTiles.pdb
CustomTiles/bin/Release/FMODUnity.dll
CustomTiles/bin/Release/Unity.TextMeshPro.dll
CustomTiles/bin/Release/UnityEngine.CoreModule.dll
CustomTiles/bin/Release/UnityEngine.dll
CustomTiles/bin/Release/UnityEngine.ImageConversionModule.dll
CustomTiles/bin/Release/UnityEngine.InputLegacyModule.dll
CustomTiles/bin/Release/UnityEngine.TextRenderingModule.dll
CustomTiles/bin/Release/UnityEngine.UI.dll
CustomTiles/bin/Release/UnityEngine.UIModule.dll
CustomTiles/bin/Release/UnityEngine.UnityWebRequestModule.dll
CustomTiles/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CustomTiles/obj/Debug/CustomTiles.csproj.CopyComplete
CustomTiles/obj/Debug/CustomTiles.csproj.CoreCompileInputs.cache
CustomTiles/obj/Debug/CustomTiles.csproj.FileListAbsolute.txt
CustomTiles/obj/Debug/CustomTiles.csprojAssemblyReference.cache
CustomTiles/obj/Debug/CustomTiles.dll
CustomTiles/obj/Debug/CustomTiles.pdb
CustomTiles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CustomTiles/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CustomTiles/obj/Release/CustomTiles.csproj.CopyComplete
CustomTiles/obj/Release/CustomTiles.csproj.CoreCompileInputs.cache
CustomTiles/obj/Release/CustomTiles.csproj.FileListAbsolute.txt
CustomTiles/obj/Release/CustomTiles.dll
CustomTiles/obj/Release/CustomTiles.pdb
CustomTiles/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
lib/0Harmony.dll
lib/Assembly-CSharp-firstpass.dll
lib/Assembly-CSharp.dll
lib/FMODUnity.dll
lib/Unity.TextMeshPro.dll
lib/UnityEngine.CoreModule.dll
lib/UnityEngine.dll
lib/UnityEngine.ImageConversionModule.dll
lib/UnityEngine.InputLegacyModule.dll
lib/UnityEngine.TextRenderingModule.dll
lib/UnityEngine.UI.dll
lib/UnityEngine.UIModule.dll
lib/UnityEngine.UnityWebRequestModule.dll
.vs/ONI_Mods_byRonivan/v16/.suo
