
Aromatics/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Aromatics/obj/Debug/Aromatics.csprojAssemblyReference.cache
Aromatics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Aromatics/obj/Release/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Aromatics/obj/Release/Aromatics.csprojAssemblyReference.cache
CustomTiles/.vs/CustomTiles/FileContentIndex/853af6bf-3bfc-407b-929a-c727c32010c7.vsidx
CustomTiles/.vs/CustomTiles/FileContentIndex/read.lock
CustomTiles/.vs/CustomTiles/v15/.suo
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/db.lock
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/storage.ide
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/storage.ide-shm
CustomTiles/.vs/CustomTiles/v15/Server/sqlite3/storage.ide-wal
CustomTiles/.vs/CustomTiles/v17/.suo
CustomTiles/bin/Debug/0Harmony.dll
CustomTiles/bin/Debug/Assembly-CSharp-firstpass.dll
CustomTiles/bin/Debug/Assembly-CSharp.dll
CustomTiles/bin/Debug/CustomTiles.dll
CustomTiles/bin/Debug/CustomTiles.pdb
CustomTiles/bin/Debug/FMODUnity.dll
CustomTiles/bin/Debug/Unity.TextMeshPro.dll
CustomTiles/bin/Debug/UnityEngine.CoreModule.dll
CustomTiles/bin/Debug/UnityEngine.dll
CustomTiles/bin/Debug/UnityEngine.ImageConversionModule.dll
CustomTiles/bin/Debug/UnityEngine.InputLegacyModule.dll
CustomTiles/bin/Debug/UnityEngine.TextRenderingModule.dll
CustomTiles/bin/Debug/UnityEngine.UI.dll
CustomTiles/bin/Debug/UnityEngine.UIModule.dll
CustomTiles/bin/Debug/UnityEngine.UnityWebRequestModule.dll
CustomTiles/bin/Release/0Harmony.dll
CustomTiles/bin/Release/Assembly-CSharp-firstpass.dll
CustomTiles/bin/Release/Assembly-CSharp.dll
CustomTiles/bin/Release/CustomTiles.dll
CustomTiles/bin/Release/CustomTiles.pdb
CustomTiles/bin/Release/FMODUnity.dll
CustomTiles/bin/Release/Unity.TextMeshPro.dll
CustomTiles/bin/Release/UnityEngine.CoreModule.dll
CustomTiles/bin/Release/UnityEngine.dll
CustomTiles/bin/Release/UnityEngine.ImageConversionModule.dll
CustomTiles/bin/Release/UnityEngine.InputLegacyModule.dll
CustomTiles/bin/Release/UnityEngine.TextRenderingModule.dll
CustomTiles/bin/Release/UnityEngine.UI.dll
CustomTiles/bin/Release/UnityEngine.UIModule.dll
CustomTiles/bin/Release/UnityEngine.UnityWebRequestModule.dll
CustomTiles/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CustomTiles/obj/Debug/CustomTiles.csproj.CopyComplete
CustomTiles/obj/Debug/CustomTiles.csproj.CoreCompileInputs.cache
CustomTiles/obj/Debug/CustomTiles.csproj.FileListAbsolute.txt
CustomTiles/obj/Debug/CustomTiles.csprojAssemblyReference.cache
CustomTiles/obj/Debug/CustomTiles.dll
CustomTiles/obj/Debug/CustomTiles.pdb
CustomTiles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CustomTiles/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CustomTiles/obj/Release/CustomTiles.csproj.CopyComplete
CustomTiles/obj/Release/CustomTiles.csproj.CoreCompileInputs.cache
CustomTiles/obj/Release/CustomTiles.csproj.FileListAbsolute.txt
CustomTiles/obj/Release/CustomTiles.dll
CustomTiles/obj/Release/CustomTiles.pdb
CustomTiles/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
lib/0Harmony.dll
lib/Assembly-CSharp-firstpass.dll
lib/Assembly-CSharp.dll
lib/FMODUnity.dll
lib/Unity.TextMeshPro.dll
lib/UnityEngine.CoreModule.dll
lib/UnityEngine.dll
lib/UnityEngine.ImageConversionModule.dll
lib/UnityEngine.InputLegacyModule.dll
lib/UnityEngine.TextRenderingModule.dll
lib/UnityEngine.UI.dll
lib/UnityEngine.UIModule.dll
lib/UnityEngine.UnityWebRequestModule.dll
.vs/ONI_Mods_byRonivan/v16/.suo
WoodenSetStructures/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
WoodenSetStructures/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WoodenSetStructures/obj/Release/WoodenSetStructures.csproj.CopyComplete
WoodenSetStructures/obj/Release/WoodenSetStructures.csproj.CoreCompileInputs.cache
WoodenSetStructures/obj/Release/WoodenSetStructures.csproj.FileListAbsolute.txt
WoodenSetStructures/obj/Release/WoodenSetStructures.csprojAssemblyReference.cache
WoodenSetStructures/obj/Release/WoodenSetStructures.dll
WoodenSetStructures/obj/Release/WoodenSetStructures.pdb
WoodenSetStructures/.vs/Wooden Set - Structures/v15/.suo
WoodenSetStructures/.vs/Wooden Set - Structures/v15/Server/sqlite3/db.lock
WoodenSetStructures/.vs/Wooden Set - Structures/v15/Server/sqlite3/storage.ide
WoodenSetStructures/.vs/Wooden Set - Structures/v15/Server/sqlite3/storage.ide-shm
WoodenSetStructures/.vs/Wooden Set - Structures/v15/Server/sqlite3/storage.ide-wal
WoodenSetStructures/bin/Release/0Harmony.dll
WoodenSetStructures/bin/Release/Assembly-CSharp-firstpass.dll
WoodenSetStructures/bin/Release/Assembly-CSharp.dll
WoodenSetStructures/bin/Release/FMODUnity.dll
WoodenSetStructures/bin/Release/Unity.TextMeshPro.dll
WoodenSetStructures/bin/Release/UnityEngine.CoreModule.dll
WoodenSetStructures/bin/Release/UnityEngine.dll
WoodenSetStructures/bin/Release/UnityEngine.ImageConversionModule.dll
WoodenSetStructures/bin/Release/UnityEngine.InputLegacyModule.dll
WoodenSetStructures/bin/Release/UnityEngine.TextRenderingModule.dll
WoodenSetStructures/bin/Release/UnityEngine.UI.dll
WoodenSetStructures/bin/Release/UnityEngine.UIModule.dll
WoodenSetStructures/bin/Release/UnityEngine.UnityWebRequestModule.dll
WoodenSetStructures/bin/Release/WoodenSetStructures.dll
WoodenSetStructures/bin/Release/WoodenSetStructures.pdb
WoodenSetFurniture/.vs/Wooden Set - Furniture/FileContentIndex/050aa89a-6c39-453d-afc0-c88a2e165330.vsidx
WoodenSetFurniture/.vs/Wooden Set - Furniture/FileContentIndex/read.lock
WoodenSetFurniture/.vs/Wooden Set - Furniture/v15/.suo
WoodenSetFurniture/.vs/Wooden Set - Furniture/v15/Server/sqlite3/db.lock
WoodenSetFurniture/.vs/Wooden Set - Furniture/v15/Server/sqlite3/storage.ide
WoodenSetFurniture/.vs/Wooden Set - Furniture/v15/Server/sqlite3/storage.ide-shm
WoodenSetFurniture/.vs/Wooden Set - Furniture/v15/Server/sqlite3/storage.ide-wal
WoodenSetFurniture/.vs/Wooden Set - Furniture/v17/.suo
WoodenSetFurniture/bin/Release/0Harmony.dll
WoodenSetFurniture/bin/Release/Assembly-CSharp-firstpass.dll
WoodenSetFurniture/bin/Release/Assembly-CSharp.dll
WoodenSetFurniture/bin/Release/FMODUnity.dll
WoodenSetFurniture/bin/Release/Unity.TextMeshPro.dll
WoodenSetFurniture/bin/Release/UnityEngine.CoreModule.dll
WoodenSetFurniture/bin/Release/UnityEngine.dll
WoodenSetFurniture/bin/Release/UnityEngine.ImageConversionModule.dll
WoodenSetFurniture/bin/Release/UnityEngine.InputLegacyModule.dll
WoodenSetFurniture/bin/Release/UnityEngine.TextRenderingModule.dll
WoodenSetFurniture/bin/Release/UnityEngine.UI.dll
WoodenSetFurniture/bin/Release/UnityEngine.UIModule.dll
WoodenSetFurniture/bin/Release/UnityEngine.UnityWebRequestModule.dll
WoodenSetFurniture/bin/Release/WoodenSetFurniture.dll
WoodenSetFurniture/bin/Release/WoodenSetFurniture.pdb
WoodenSetFurniture/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
WoodenSetFurniture/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
WoodenSetFurniture/obj/Release/WoodenSetFurniture.csproj.CopyComplete
WoodenSetFurniture/obj/Release/WoodenSetFurniture.csproj.CoreCompileInputs.cache
WoodenSetFurniture/obj/Release/WoodenSetFurniture.csproj.FileListAbsolute.txt
WoodenSetFurniture/obj/Release/WoodenSetFurniture.dll
WoodenSetFurniture/obj/Release/WoodenSetFurniture.pdb
AdvancedLogistics/.vs/Dupes Logistics/FileContentIndex/994d5229-b68e-4bc5-a101-40ce43080ced.vsidx
AdvancedLogistics/.vs/Dupes Logistics/FileContentIndex/read.lock
AdvancedLogistics/.vs/Dupes Logistics/v15/.suo
AdvancedLogistics/.vs/Dupes Logistics/v15/Server/sqlite3/db.lock
AdvancedLogistics/.vs/Dupes Logistics/v15/Server/sqlite3/storage.ide
AdvancedLogistics/.vs/Dupes Logistics/v15/Server/sqlite3/storage.ide-shm
AdvancedLogistics/.vs/Dupes Logistics/v15/Server/sqlite3/storage.ide-wal
AdvancedLogistics/.vs/Dupes Logistics/v17/.suo
AdvancedLogistics/bin/Release/0Harmony.dll
AdvancedLogistics/bin/Release/AdvancedLogistics.dll
AdvancedLogistics/bin/Release/AdvancedLogistics.dll.config
AdvancedLogistics/bin/Release/AdvancedLogistics.pdb
AdvancedLogistics/bin/Release/AdvancedLogisticsMerged.dll
AdvancedLogistics/bin/Release/Assembly-CSharp-firstpass.dll
AdvancedLogistics/bin/Release/Assembly-CSharp.dll
AdvancedLogistics/bin/Release/DupesLogistics.dll
AdvancedLogistics/bin/Release/DupesLogistics.dll.config
AdvancedLogistics/bin/Release/DupesLogistics.pdb
AdvancedLogistics/bin/Release/DupesLogisticsMerged.dll
AdvancedLogistics/bin/Release/FMODUnity.dll
AdvancedLogistics/bin/Release/Microsoft.Build.Framework.dll
AdvancedLogistics/bin/Release/Microsoft.Build.Framework.pdb
AdvancedLogistics/bin/Release/Microsoft.Build.Framework.xml
AdvancedLogistics/bin/Release/Microsoft.Build.Utilities.Core.dll
AdvancedLogistics/bin/Release/Microsoft.Build.Utilities.Core.pdb
AdvancedLogistics/bin/Release/Microsoft.Build.Utilities.Core.xml
AdvancedLogistics/bin/Release/Newtonsoft.Json.dll
AdvancedLogistics/bin/Release/Newtonsoft.Json.xml
AdvancedLogistics/bin/Release/PLib.dll
AdvancedLogistics/bin/Release/PLib.xml
AdvancedLogistics/bin/Release/System.Collections.Immutable.dll
AdvancedLogistics/bin/Release/System.Collections.Immutable.xml
AdvancedLogistics/bin/Release/Unity.TextMeshPro.dll
AdvancedLogistics/bin/Release/UnityEngine.CoreModule.dll
AdvancedLogistics/bin/Release/UnityEngine.dll
AdvancedLogistics/bin/Release/UnityEngine.ImageConversionModule.dll
AdvancedLogistics/bin/Release/UnityEngine.InputLegacyModule.dll
AdvancedLogistics/bin/Release/UnityEngine.TextRenderingModule.dll
AdvancedLogistics/bin/Release/UnityEngine.UI.dll
AdvancedLogistics/bin/Release/UnityEngine.UIModule.dll
AdvancedLogistics/bin/Release/UnityEngine.UnityWebRequestModule.dll
packages/ILMerge.3.0.41/.signature.p7s
packages/ILMerge.3.0.41/build/ILMerge.props
packages/ILMerge.3.0.41/docs/ilmerge-manual.md
packages/ILMerge.3.0.41/ILMerge.3.0.41.nupkg
packages/ILMerge.3.0.41/tools/net452/ILMerge.exe
packages/ILMerge.3.0.41/tools/net452/System.Compiler.dll
packages/ILRepack.MSBuild.Task.2.0.13/.signature.p7s
packages/ILRepack.MSBuild.Task.2.0.13/build/ILRepack.MSBuild.Task.props
packages/ILRepack.MSBuild.Task.2.0.13/buildMultiTargeting/ILRepack.MSBuild.Task.props
packages/ILRepack.MSBuild.Task.2.0.13/ILRepack.MSBuild.Task.2.0.13.nupkg
packages/ILRepack.MSBuild.Task.2.0.13/tasks/net46/ILRepack.MSBuild.Task.dll
packages/ILRepack.MSBuild.Task.2.0.13/tasks/netcoreapp2.1/ILRepack.MSBuild.Task.dll
packages/ILRepack.MSBuild.Task.2.0.13/tasks/netstandard2.0/ILRepack.MSBuild.Task.dll
packages/ILRepack.MSBuild.Task.2.0.13/tools/ilrepack.exe
packages/Microsoft.Build.Framework.15.9.20/.signature.p7s
packages/Microsoft.Build.Framework.15.9.20/lib/net46/Microsoft.Build.Framework.dll
packages/Microsoft.Build.Framework.15.9.20/lib/net46/Microsoft.Build.Framework.pdb
packages/Microsoft.Build.Framework.15.9.20/lib/net46/Microsoft.Build.Framework.xml
packages/Microsoft.Build.Framework.15.9.20/lib/netstandard2.0/Microsoft.Build.Framework.dll
packages/Microsoft.Build.Framework.15.9.20/lib/netstandard2.0/Microsoft.Build.Framework.pdb
packages/Microsoft.Build.Framework.15.9.20/lib/netstandard2.0/Microsoft.Build.Framework.xml
packages/Microsoft.Build.Framework.15.9.20/Microsoft.Build.Framework.15.9.20.nupkg
packages/Microsoft.Build.Framework.15.9.20/notices/THIRDPARTYNOTICES.txt
packages/Microsoft.Build.Utilities.Core.15.9.20/.signature.p7s
packages/Microsoft.Build.Utilities.Core.15.9.20/lib/net46/Microsoft.Build.Utilities.Core.dll
packages/Microsoft.Build.Utilities.Core.15.9.20/lib/net46/Microsoft.Build.Utilities.Core.pdb
packages/Microsoft.Build.Utilities.Core.15.9.20/lib/net46/Microsoft.Build.Utilities.Core.xml
packages/Microsoft.Build.Utilities.Core.15.9.20/lib/netstandard2.0/Microsoft.Build.Utilities.Core.dll
packages/Microsoft.Build.Utilities.Core.15.9.20/lib/netstandard2.0/Microsoft.Build.Utilities.Core.pdb
packages/Microsoft.Build.Utilities.Core.15.9.20/lib/netstandard2.0/Microsoft.Build.Utilities.Core.xml
packages/Microsoft.Build.Utilities.Core.15.9.20/Microsoft.Build.Utilities.Core.15.9.20.nupkg
packages/Microsoft.Build.Utilities.Core.15.9.20/notices/THIRDPARTYNOTICES.txt
packages/Microsoft.VisualStudio.Setup.Configuration.Interop.1.16.30/.signature.p7s
packages/Microsoft.VisualStudio.Setup.Configuration.Interop.1.16.30/lib/net35/Microsoft.VisualStudio.Setup.Configuration.Interop.dll
packages/Microsoft.VisualStudio.Setup.Configuration.Interop.1.16.30/lib/net35/Microsoft.VisualStudio.Setup.Configuration.Interop.xml
packages/Microsoft.VisualStudio.Setup.Configuration.Interop.1.16.30/Microsoft.VisualStudio.Setup.Configuration.Interop.1.16.30.nupkg
packages/Newtonsoft.Json.13.0.1/.signature.p7s
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/LICENSE.md
packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
packages/Newtonsoft.Json.13.0.1/packageIcon.png
packages/PLib.4.10.0/.signature.p7s
packages/PLib.4.10.0/icon.png
packages/PLib.4.10.0/lib/net471/PLib.dll
packages/PLib.4.10.0/lib/net471/PLib.xml
packages/PLib.4.10.0/PLib.4.10.0.nupkg
packages/System.Collections.Immutable.1.5.0/.signature.p7s
packages/System.Collections.Immutable.1.5.0/lib/netstandard1.0/System.Collections.Immutable.dll
packages/System.Collections.Immutable.1.5.0/lib/netstandard1.0/System.Collections.Immutable.xml
packages/System.Collections.Immutable.1.5.0/lib/netstandard1.3/System.Collections.Immutable.dll
packages/System.Collections.Immutable.1.5.0/lib/netstandard1.3/System.Collections.Immutable.xml
packages/System.Collections.Immutable.1.5.0/lib/netstandard2.0/System.Collections.Immutable.dll
packages/System.Collections.Immutable.1.5.0/lib/netstandard2.0/System.Collections.Immutable.xml
packages/System.Collections.Immutable.1.5.0/lib/portable-net45+win8+wp8+wpa81/System.Collections.Immutable.dll
packages/System.Collections.Immutable.1.5.0/lib/portable-net45+win8+wp8+wpa81/System.Collections.Immutable.xml
packages/System.Collections.Immutable.1.5.0/LICENSE.TXT
packages/System.Collections.Immutable.1.5.0/System.Collections.Immutable.1.5.0.nupkg
packages/System.Collections.Immutable.1.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.Collections.Immutable.1.5.0/useSharedDesignerContext.txt
packages/System.Collections.Immutable.1.5.0/version.txt
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/.signature.p7s
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/dotnet_library_license.txt
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/MonoAndroid10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/MonoTouch10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/net45/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/win8/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/wpa81/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinios10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinmac20/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarintvos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/lib/xamarinwatchos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/MonoAndroid10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/MonoTouch10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinios10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinmac20/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarintvos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ref/xamarinwatchos10/_._
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/aot/lib/netcore50/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/unix/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/net45/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/netcore50/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/runtimes/win/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/System.Runtime.InteropServices.RuntimeInformation.4.3.0.nupkg
packages/System.Runtime.InteropServices.RuntimeInformation.4.3.0/ThirdPartyNotices.txt
AdvancedLogistics/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AdvancedLogistics/obj/Release/AdvancedLogistics.csproj.CopyComplete
AdvancedLogistics/obj/Release/AdvancedLogistics.csproj.CoreCompileInputs.cache
AdvancedLogistics/obj/Release/AdvancedLogistics.csproj.FileListAbsolute.txt
AdvancedLogistics/obj/Release/AdvancedLogistics.csprojAssemblyReference.cache
AdvancedLogistics/obj/Release/AdvancedLogistics.dll
AdvancedLogistics/obj/Release/AdvancedLogistics.pdb
AdvancedLogistics/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AdvancedLogistics/obj/Release/Dupes Logistics.csproj.CopyComplete
AdvancedLogistics/obj/Release/Dupes Logistics.csproj.CoreCompileInputs.cache
AdvancedLogistics/obj/Release/Dupes Logistics.csproj.FileListAbsolute.txt
AdvancedLogistics/obj/Release/DupesLogistics.csproj.CopyComplete
AdvancedLogistics/obj/Release/DupesLogistics.csproj.CoreCompileInputs.cache
AdvancedLogistics/obj/Release/DupesLogistics.csproj.FileListAbsolute.txt
AdvancedLogistics/obj/Release/DupesLogistics.csprojAssemblyReference.cache
AdvancedLogistics/obj/Release/DupesLogistics.dll
AdvancedLogistics/obj/Release/DupesLogistics.pdb
WoodenSetFurniture/obj/Release/WoodenSetFurniture.csprojAssemblyReference.cache
Dupes Cuisine/.vs/Dupes Cuisine/FileContentIndex/05463af2-e6ea-4836-90e0-7e05410a9a74.vsidx
Dupes Cuisine/.vs/Dupes Cuisine/FileContentIndex/5e1d4e5b-9723-4bcc-a8bf-993df918a638.vsidx
Dupes Cuisine/.vs/Dupes Cuisine/FileContentIndex/85b76585-fef0-48f7-806a-ac58123cd281.vsidx
Dupes Cuisine/.vs/Dupes Cuisine/FileContentIndex/87d2fbff-0651-4f2d-b43b-455f82518d25.vsidx
Dupes Cuisine/.vs/Dupes Cuisine/FileContentIndex/read.lock
Dupes Cuisine/.vs/Dupes Cuisine/v15/.suo
Dupes Cuisine/.vs/Dupes Cuisine/v15/Server/sqlite3/db.lock
Dupes Cuisine/.vs/Dupes Cuisine/v15/Server/sqlite3/storage.ide
Dupes Cuisine/.vs/Dupes Cuisine/v15/Server/sqlite3/storage.ide-shm
Dupes Cuisine/.vs/Dupes Cuisine/v15/Server/sqlite3/storage.ide-wal
Dupes Cuisine/.vs/Dupes Cuisine/v17/.suo
Dupes Cuisine/bin/Debug/0Harmony.dll
Dupes Cuisine/bin/Debug/ArabicSupport.dll
Dupes Cuisine/bin/Debug/Assembly-CSharp-firstpass.dll
Dupes Cuisine/bin/Debug/Assembly-CSharp-firstpass.pdb
Dupes Cuisine/bin/Debug/Assembly-CSharp.dll
Dupes Cuisine/bin/Debug/Assembly-CSharp.pdb
Dupes Cuisine/bin/Debug/com.rlabrecque.steamworks.net.dll
Dupes Cuisine/bin/Debug/Dupes Cuisine.dll
Dupes Cuisine/bin/Debug/Dupes Cuisine.pdb
Dupes Cuisine/bin/Debug/FMODUnity.dll
Dupes Cuisine/bin/Debug/FMODUnity.pdb
Dupes Cuisine/bin/Debug/FMODUnityResonance.dll
Dupes Cuisine/bin/Debug/ImGui.dll
Dupes Cuisine/bin/Debug/ImGui.NET.dll
Dupes Cuisine/bin/Debug/Ionic.Zip.dll
Dupes Cuisine/bin/Debug/Ionic.Zip.pdb
Dupes Cuisine/bin/Debug/LibNoiseDotNet.dll
Dupes Cuisine/bin/Debug/LibNoiseDotNet.pdb
Dupes Cuisine/bin/Debug/Newtonsoft.Json.dll
Dupes Cuisine/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
Dupes Cuisine/bin/Debug/Unity.TextMeshPro.dll
Dupes Cuisine/bin/Debug/Unity.TextMeshPro.pdb
Dupes Cuisine/bin/Debug/Unity.Timeline.dll
Dupes Cuisine/bin/Debug/Unity.Timeline.pdb
Dupes Cuisine/bin/Debug/UnityEngine.AccessibilityModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.AIModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.AndroidJNIModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.AnimationModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.ARModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.AssetBundleModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.AudioModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.ClothModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.ClusterInputModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.ClusterRendererModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.CoreModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.CrashReportingModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.DirectorModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.dll
Dupes Cuisine/bin/Debug/UnityEngine.DSPGraphModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.GameCenterModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.GridModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.ImageConversionModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.IMGUIModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.InputLegacyModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.InputModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.JSONSerializeModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.LocalizationModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.ParticleSystemModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.PerformanceReportingModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.Physics2DModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.PhysicsModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.ScreenCaptureModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.SharedInternalsModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.SpriteMaskModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.SpriteShapeModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.StreamingModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.SubsystemsModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.TerrainModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.TextCoreModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.TextRenderingModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.TilemapModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.TLSModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UI.dll
Dupes Cuisine/bin/Debug/UnityEngine.UI.pdb
Dupes Cuisine/bin/Debug/UnityEngine.UIElementsModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UIElementsNativeModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UIModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UNETModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityConnectModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityCurlModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityWebRequestModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.VehiclesModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.VFXModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.VideoModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.VirtualTexturingModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.VRModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.WindModule.dll
Dupes Cuisine/bin/Debug/UnityEngine.XRModule.dll
More Food Variety/.vs/More Food Variety/v15/.suo
More Food Variety/.vs/More Food Variety/v15/Server/sqlite3/db.lock
More Food Variety/.vs/More Food Variety/v15/Server/sqlite3/storage.ide
More Food Variety/.vs/More Food Variety/v15/Server/sqlite3/storage.ide-shm
More Food Variety/.vs/More Food Variety/v15/Server/sqlite3/storage.ide-wal
MoreCuisineVariety/bin/Release/0Harmony.dll
MoreCuisineVariety/bin/Release/Assembly-CSharp-firstpass.dll
MoreCuisineVariety/bin/Release/Assembly-CSharp.dll
MoreCuisineVariety/bin/Release/FMODUnity.dll
MoreCuisineVariety/bin/Release/MoreCuisineVariety.dll
MoreCuisineVariety/bin/Release/MoreCuisineVariety.pdb
MoreCuisineVariety/bin/Release/Unity.TextMeshPro.dll
MoreCuisineVariety/bin/Release/UnityEngine.CoreModule.dll
MoreCuisineVariety/bin/Release/UnityEngine.dll
MoreCuisineVariety/bin/Release/UnityEngine.ImageConversionModule.dll
MoreCuisineVariety/bin/Release/UnityEngine.InputLegacyModule.dll
MoreCuisineVariety/bin/Release/UnityEngine.TextRenderingModule.dll
MoreCuisineVariety/bin/Release/UnityEngine.UI.dll
MoreCuisineVariety/bin/Release/UnityEngine.UIModule.dll
MoreCuisineVariety/bin/Release/UnityEngine.UnityWebRequestModule.dll
MoreCuisineVariety/obj/Release/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
MoreCuisineVariety/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MoreCuisineVariety/obj/Release/MoreCuisineVariety.csproj.CopyComplete
MoreCuisineVariety/obj/Release/MoreCuisineVariety.csproj.CoreCompileInputs.cache
MoreCuisineVariety/obj/Release/MoreCuisineVariety.csproj.FileListAbsolute.txt
MoreCuisineVariety/obj/Release/MoreCuisineVariety.dll
MoreCuisineVariety/obj/Release/MoreCuisineVariety.pdb
MoreCuisineVariety/obj/Release/MoreCuisineVariety.csprojAssemblyReference.cache
